# Virtual environment
venv/

# pytest cache
.pytest_cache/

# Python cache files and directories
__pycache__/
*.pyc
*.pyo

#Testing file and data
cmip_data_retriever/test.nc
cmip_data_retriever/testing.ipynb
cmip_data_retriever/testing_2.ipynb
data/CMIP6
cmip_data_retriever/model_info.xlsx